html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h3{

    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50%;
    text-align: center;
    color: red;
}

#mapdiv {
  height: 100%;
  width: 100%;
}

.country-form{

	position: absolute;

	left: 30px;
	top:28px;
 
 overflow: hidden;
}

.country-list{
  overflow: hidden;
}

input{
  display: block;
}

input[id='filtericon'] {
  font-family: FontAwesome;
  color: grey;
  text-align: right;
  display: flex;
}

.warning{
  display: inline;
  color: red;
}



input[id='filter']{
  text-align: left;
}

.inlineblock{
  display: inline-block;
}

@media screen and (max-width: 500px){
  .country-lists{
    display: none;
  }
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

#filter-form{

  display: block;
}